
@import url('https://fonts.googleapis.com/css?family=Varela+Round');




body {
  /* background: #fff;
  padding: 0;
  margin: 0; */
  font-family: 'Varela Round', sans-serif;
}

.sidebar li{
  list-style: none;
  color: rgb(59, 206, 30);
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px;
  margin: 0 -3em;
  cursor: pointer;
  border-bottom: 1px solid rgba(245, 8, 8, 0.945);
}




.sidebar {
  background: linear-gradient(180deg, #eafc46 0%, #3ffbd2 100%);
  width: 150px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}

.sidebar h1 {
  color: rgb(219, 70, 24);
}

.portfolio {
  background-image: url("./cool-background.png") ;
  position: absolute;
  top: 0;
  left: 0px;
  right: 0;
  bottom: 0;
  
  -moz-transition: left 0.5s ease;
  transition: left 0.5s ease;
}

input[type=checkbox] {
 display: none;
}

input:checked ~ .portfolio { 
  left: 150px;
}

/* input:checked ~ label {
  left: 0;
} */

.labelx {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0px;
  background-color:transparent;
  max-height: 22px ;
  
  /* -moz-transition: left 0.5s ease;
  transition: left 0.5s ease; */
}

.center {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  
  margin-top: -100px;
  margin-left: -100px;
}













