
@import url('https://fonts.googleapis.com/css?family=Varela+Round');




body {
  /* background: #fff;
  padding: 0;
  margin: 0; */
  font-family: 'Varela Round', sans-serif;
}

.sidebar li{
  list-style: none;
  color: rgb(59, 206, 30);
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px;
  margin: 0 -3em;
  cursor: pointer;
  border-bottom: 1px solid rgba(245, 8, 8, 0.945);
}




.sidebar {
  background: linear-gradient(180deg, #eafc46 0%, #3ffbd2 100%);
  width: 150px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}

.sidebar h1 {
  color: rgb(219, 70, 24);
}

.portfolio {
  background-image: url("./cool-background.png") ;
  position: absolute;
  top: 0;
  left: 0px;
  right: 0;
  bottom: 0;
  
  -moz-transition: left 0.5s ease;
  transition: left 0.5s ease;
}

input[type=checkbox] {
 display: none;
}

input:checked ~ .portfolio { 
  left: 150px;
}

/* input:checked ~ label {
  left: 0;
} */

.labelx {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0px;
  background-color:transparent;
  max-height: 22px ;
  
  /* -moz-transition: left 0.5s ease;
  transition: left 0.5s ease; */
}

.center {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  
  margin-top: -100px;
  margin-left: -100px;
}

.xyz{
   /* text-align: center;  */
  Position:absolute;
  right: 45px;
  top:-125px;
  
}
.xyzq{
  text-align: center; 
  }

  .ttt{

  Position:relative;
}

/* .xyzx{
  bottom: 100px;
  right:500px;
  } */

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit]:hover {
  background-color: #45a049;
}


.backgroundcenter {
  width: 200px;
  height: 275px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -100px;
  margin-left: -100px;
 border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

input[type=date], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


input[type=password], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


/* input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
} */

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 2px;
  cursor: pointer;
}












/* .fine {
  background-color: #00bfff;
  text-align: center;
  font-family: 'Raleway', Helvetica, sans-serif;
  min-width: 320px;
} */

header {
  font-size: 2em;
  font-weight: bold;
  margin: 20px;
}

#form-outer {
  background-color: rgb(250, 250, 250);
  margin: 0 auto;
  border-radius: 4px;
  width: 75%;
  max-width: 450px;
  padding: 10px;
  padding-top: 20px;
  max-height: 500px;
}

.labels {
  display: inline-block;
  text-align: right;
  width: 40%;
  padding: 5px;
  vertical-align: top;
  margin-top: 10px;
}

.rightTab {
  display: inline-block;
  text-align: left;
  width: 48%;
  vertical-align: middle;
}

.input-field {
  height: 20px;
  width: 100px;
  padding: 5px;
  margin: 10px;
  border: 1px solid #c0c0c0;
  border-radius: 2px;
}

#userAge {
  width: 40px;
}

.userRatings,
input[type="checkbox"] {
  float: left;
  margin-right: 5px;
}

#submit {
  background-color: #1a8cff;
  border-radius: 4px;
  color: white;
  font-size: 1em;
  height: 40px;
  width: 96px;
  margin: 10px;
  border: 0px solid;
}

#reset {
  background-color: #1a8cff;
  border-radius: 4px;
  color: white;
  font-size: 1em;
  height: 40px;
  width: 96px;
  margin: 10px;
  border: 0px solid;
}
.dropdown {
  height: 35px;
  width: 140px;
  padding: 5px;
  margin: 10px;  
  margin-top: 15px;
  border: 1px solid #c0c0c0;
  border-radius: 2px;
}

.radio, .checkbox {
  position: relative;
  left: -43px;
  margin-left: 10px;
  display: block;
  padding-bottom: 10px;
}

@media screen and (max-width: 500px) {
  .input-field {
    width: 80%;
  }
  select {
    width: 90%;
  }
}

@media screen and (max-width: 300px) {
  .labels {
    width: 100%;
    text-align: left;
  }
  .rightTab {
    width: 80%;
    float: left;
  }
  .input-field {
    width: 100%;
  }
  select {
    width: 100%;
  }
}












